{% extends "AutoPointe/base.html" %}
{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md">
                            <div class="card border-left-primary shadow h-100 py">
                    <!-- Page Heading -->
                    <div class="card card-body">
                    <h1 class="h3 mb-4 text-gray-800">Annulation des transactions</h1>
                    <div class="container-fluid">
                    <p>Etes-vous sure de marquer la transaction "{{ft_transaction}}" comme annulée ?</p>
                    <form action="{% url 'annuler' ft_transaction %}" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'home' %}">Annuler</a>
                        <input type="submit" name="Confirmer">
                    </form>

                </div>
                </div>
            </div>
        </div>
            </div>
            </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}